#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}


::placeholder {
  color: #a0a0a0 !important;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: #a0a0a0 !important;
}